{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Produce Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="{{url_for('newProduceItem',
                   selected_category_name=selected_category.name)}}" method = "POST">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="name" placeholder="Item Name" required></br>
					<label for="category">Category:</label>
					<select name="category">
					{% for category in categories %}
					{% if category.id == selected_category.id %}
					<option value="{{category.name}}" selected>{{category.name}}</option>
					{% else %}
					<option value="{{category.name}}">{{category.name}}</option>
					{% endif %}
					{% endfor %}
					</select></br></br>
					<label for="expiry_date">Expiry Date:</label>
					<input type ="date" maxlength="10" class="form-control" name="expiry_date" required></br>
					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description"></textarea></br>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Create</button>
					<a href = '{{url_for('inventoryHome')}}'>
						<button class="btn btn-default delete" type="button">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
