{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
    <article class="col-sm-12 produce-item-detail">
        <h2>{{item.name}}</h2>
        </h5>({{item.category.name}})</h5>
        <p class="produce-expiry">{{item.formatted_expiry_date}}</p>
        <p><strong>Description:</strong>
            {{item.description}}</p>
        <p><strong>User:</strong>
            {{item.user.name}}</p>
        {% if 'user_id' in session and item.user_id == session['user_id'] %}
        <a href='{{url_for('editProduceItem', category_name=category.name, item_name=item.name)}}'>Edit</a></br>
        <a href='{{url_for('deleteProduceItem', category_name=category.name, item_name=item.name)}}'>Delete</a></br>
        {% endif %}
    </article>
</div>


{% endblock %}